@font-face {
	font-family: 'IRANSans';
	src: url('../fonts/IRANSans.ttf') format('truetype'),  /* IE6–8 */
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3gfazw');
  src:  url('fonts/icomoon.eot?3gfazw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3gfazw') format('truetype'),
    url('fonts/icomoon.woff?3gfazw') format('woff'),
    url('fonts/icomoon.svg?3gfazw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: white;
}
.control {
    display: block;
    position: relative;
    padding-right: 10px;
    margin-bottom: 15px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 13px;
    float: right;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    right: -16px;
    height: 20px;
    width: 20px;
    background: #ccdef0;
    border: 0px solid #000000;
}
.control-radio .control_indicator {
    border-radius: undefined%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #ccdef0;
}

.control input:checked ~ .control_indicator {
    background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
    background: #ccdef0;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
.icon-person:before {
  content: "\e904";
}
.icon-dropdown:before {
  content: "\e902";
}
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";

@media only screen and (max-width:480px){
    .out-side-box{
        background-color:#dee0ed !important;
        padding: 0px !important;
    }
    .table1 tr span{
        margin: 10px !important;
    }
    .date-time-edit-admin,.date-time-edit{
        margin: 0 auto;
    }
    .admin-total-time-left-box,.admin-total-time-right-box{
        height: 350px !important;
    }
    .time-total-in-month-title {
    font-size: 11px !important;
    }
    .total-time-acct-button {
    width: 86px !important;
    height: 35px !important;
    }
    .total-time-table-button {
    width: 51px !important;
    height: 25px !important;
    }
    .time-total{
    font-size: 25px !important;
    }
    .admin-total-table{
        font-size: 10px !important;
    }
    .admin-total-cost,.admin-total-pay-cost{
        border-radius: 0 0 15px 15px !important;
    }
    .admin-total-unp-text,.admin-total-pay-text{
        border-radius: 15px 15px 0 0 !important;     
    }
    .admin-total-unp {
    font-size: 12px !important;
    }
    .button-accept,.button-ignore,.button-re-try,.button-acc-pay{
        font-size: 12px;
        width: 100% !important;
    }
    .top-user-name-box{
        margin-bottom: 45px !important;
        width: 100% !important;
    }
    .top-user-name-box-admin{
         margin-bottom: 45px !important;
        width: 100% !important;
    }
    .box3c{
        box-shadow: none !important;
    }
    .saabt{
   margin: -10px -28px !important;
    border-radius: 20px 20px 0 0 !important;
    width: 124% !important;
      padding-bottom: 50px !important;
       line-height: 3 !important;
    }
  
   .work-rep-top-right-title {
    margin: -10px -28px !important;
    border-radius: 20px 20px 0 0 !important;
    width: 124% !important;
      padding-bottom: 70px !important;
       line-height: 5.5 !important;
    }
      .box-huzur {
  margin: -10px -28px !important;
    border-radius: 20px 20px 0 0 !important;
    width: 124% !important;
      padding-bottom: 70px !important;
       line-height: 5.5 !important;
    }

  
    .total-time-title{
        font-size: 12px;
        margin: 0 !important;
        line-height: 3.5;
    }
    .total-time{
         padding: 10px !important;

    }
      .total-time-time{
        font-size: 12px;
          margin: 0px !important;
           line-height: 3.5;
          
         
    }
    .table1 td {
    border-left: none !important;
    }
    .total-time{
    width: 230px !important;
       
    }
    .box1{
        box-shadow: none !important;
    }
    .enter,.enter2{
        font-size: 14px !important;
    }
    .checked{
        float: left;
        width: 20px;
        height: 20px;
    }
    .singlebox {
     padding: 2px !important; 
    }
    .rwd-table tr {
        border: 2px solid #dddfec !important;
}
    .box3c td {
    text-align: center;
    padding: 10px;
    border-left: 2px solid #e6e9f2;
    border-left: none !important;
    text-align: justify !important;
    }
   .box3d td {
    text-align: center;
    padding: 10px;
    border-left: 2px solid #e6e9f2;
    border-left: none !important;
    text-align: justify !important;
    }
    .rwd-table tr {
  border: 1px solid #dddfec;
    }
  .box3c table{
      box-shadow: none !important;
    
}
    .td1{
        display: none !important;
    }
       .td2{
        display: none !important;
    }
       .td2{
        display: none !important;
    }
       .td3{
        display: none !important;
    }
       .td4{
        display: none !important;
    }
       .td5{
        display: none !important;
    }
       .td6{
        display: none !important;
    }
    .td66{
        display: none !important;
    }
    
}
.td6{
    border-left: none !important;
}

.navbar-default .navbar-toggle{
    margin-bottom: 20px;
}
.rwd-table {
  margin: 1em 0;
  min-width: 200px;
}

.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
/*  width: 6.5em;*/
  display: inline-block;
}
.checked{
    margin-left: 10px !important;
}
@media only screen and (max-width:767px){
    
    .admin-total-pay-text {
    border-radius: 25px 25px 0px 0 !important;
}
     .admin-total-pay-cost{
        border-radius: 0px 0px 25px 25px !important;
    }
}
@media only screen and (max-width:800px){
    .dropdown-toggle-admin-page{
    font-size: 10px!important;
    }
   
    .admin-total-unp {
    font-size: 11px !important;
    }
    .edit-button{
        margin-left: 25px !important;
    }
    .header-title{
        padding-right: 20px;
    }
    .firstbox {
    width: 90% !important;
    }
    .loginform {
        width: 100%!important;
    }
    .reg-button {
        width: 100%;
        height: auto;
        display: block;
    }
    .reg-button > button {
        width: 40%!important;
        margin-left: 6%!important;
    }
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}
button{
    outline: none;
}
.rwd-table {
  background: white;
  color: black;
  border-radius: .4em;
  overflow: hidden;

}
.rwd-table tr {
  border: none;
    font-size: 12px;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: black;
    margin: 2px;
}


.header{
    width: 100%;
    height: 70px;
    background-color: white;
}
html, body {
        height: 100%;
         margin: 0;
         padding: 0;
        font-family: IRANSans;
}
.logo{
    text-align: center;
    padding-top: 20px;
}
.person{
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 3.5;
}
.logo > img {
    width: 200px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -100px;
}

.top {
    width: 100%;
    height: 70px;
    background-color:white;
    position: relative;
}
.content {
    width: 100%;
    background-color: #dee0ed;
    height: auto;
    overflow: auto;
}
.firstbox{
    width: 800px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    display: block;
    margin: 50px auto;
    overflow: hidden;
}
.icon-span {
    width: 100%;
    height: 120px;
    text-align: center;
    background-repeat: no-repeat;
}

.inline-display-1,.inline-display{
    display: none;
}
.inline-display-2{
    display: none;
}
.icon-span > span {
    width: 100px;
    display: block;
    margin: 20px auto;
    border-radius: 25px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41acd4+0,657fd1+100 */
background: #41acd4; /* Old browsers */
background: -moz-linear-gradient(-45deg, #41acd4 0%, #657fd1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #41acd4 0%,#657fd1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #41acd4 0%,#657fd1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41acd4', endColorstr='#657fd1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.userinfo img{
    width: 45px;
    height: 45px;

}
.userinfo span{
    text-align: center;
    margin: 0 auto;
}
.top-user-name-box span{
       line-height: 4;
}
.loginform{
    width: 75%;
    height: 200px;
    background-color: white;
    display: block;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
}
.loginform-label{
    direction: rtl;
    width: 20%;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-family:IRANSans; 
    line-height: 50px;
}
.checkboxlabel{
    direction: rtl;
    display: inline-block;
    float: right;
    font-size: 14px;
    font-family:IRANSans; 
        line-height: 30px;
}

.input-style {
     outline: none;
    width: 80%;
    display: inline-block;
    margin-bottom: 10px;
    float: right;
    background-color: #ebf4fb;
    border-radius: 8px;
    height: 46px;;
    border: none;
    padding-left: 10px;


}
.input-style::placeholder{
    
    color: #cdd6e7;
}
.btn-info {
     display: inline-block;
    float: left;
    border: none;
   border-radius: 10px;
    width: 100%;
    height: 40px;
    background-color: #27cbd5;
  
}
.btn-primary{
  display: inline-block;
    float: left;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    background-color: #ebf4fb;
}

.enter{
    color:#27cbd5;
    font-family: IRANSans;
}
.enter2{
    color:white;
    font-family: IRANSans;
}
/*
.firstbox img{

   width: 110px;
    height: 110px;
    position: absolute;
    top:20%;
    right:10%;
    margin-right: 500px;
}
.form-horizontal{
    direction: rtl;
    font-family:IRANSans; 
}

.input-group{
    font-weight: bold;
    font-size: 14px;
}
*/
.btn btn-primary {
    color: aqua;
    
}   
.celar{
    clear: both;
}
.logo2{
    background-color: #29435e;
    width: 100%;
    height: 70px;
    display: block;
    position: relative;
    padding:0px !important;
    margin: 0px !important;

}

.logo2 > img{
    width: 160px;
    position: absolute;
    top: 50%;
    margin-top: -19px;
    right: 50%;
    margin-right: -80px;
}
.nav-bg {
    background-color: white;
    border: none;
}
.navbar {
    margin-bottom: 0px;
}
.dropdown-menu{
    text-align: center;
    width: auto;
}
.navbar-default .navbar-nav{
    padding: 10px 0;
}
.navbar-default .navbar-nav>li>a{
    color: white;
    background-color: #28cbd4;
    border-radius: 10px;
    direction: rtl;
 
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{

    background-color: #28cbd4;
     border-radius: 10px;
    color: white;
     direction: rtl;
    
}
.nav>li{
    float: right;
}

.jquery{
    border:none !important;
    border: 1px solid white;
    border-radius: 8px;
    outline: none;
    background-color: #fbfcfe;
    box-shadow: 2px 2px 50px 1px #d7d8da;
    color:#9c89db;
}
.brand-logo{
    display: inline-block!important;
    position: absolute;
    top:0px;
    right: 46%;
    margin-right: -60px;

}
@media only screen and (max-width:700px){
    .brand-logo{
        position: static !important;
    }
}
.clear{
    clear:both;
}

.singlebox{
    width: 90%;
    height: auto;
    overflow: auto;
    padding: 20px;
}

.box-huzur{
    margin: 20px 0;
    display: block;
     border-radius: 40px;
    background-color: #f1e3c8;
    color: #bba775;
    width:100%;
    height: 50px;
        text-align: center;
    line-height: 3.5;
    }

.btn-vurud{

    display: block;
    border-radius: 40px;
    background-color: #7e60d0;
    color: white;
    width:100%;
    height: 50px;
    line-height: 2;
}
.box1 {
    width:90%;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 50px 1px #d7d8da;
    margin: 20px auto;
    overflow: auto;
    z-index: 2;
}
.box1-single{
    text-align: center;
    width:90%;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 50px 1px #d7d8da;
    margin: 40px auto;
    overflow: auto;
    z-index: 2;

}
.panel{
    box-shadow: none;
}
.tbl{
    width: 100%;
    height: 100%;
    float: right;
    display: inline-block;
    overflow: auto;
    direction: rtl;
    margin:  0 auto;
    font-size: 14px;
}
.tbl-1{
        height: 100%;
    float: right;
    display: inline-block;
    overflow: auto;
    direction: rtl;
    margin: 0 auto;
    font-size: 14px;
}
.table1{
    width: 100%;
    float: right;
    border: none ; 
    direction: rtl;
    margin: 30px auto;
}
.do,.se,.shesh{
    color:#7e61cf;
    font-weight: bold;
}
.panj,.chahar{
    color:#dde1ed;
}
.six,.shesh{
    border-left:none !important;
}
.table1 td{
    text-align: justify;
     padding: 15px;  
    border-left: 2px solid #e6e9f2;

}
.td span{
    border-bottom:3px solid #e6e9f2; 
    width: 100%;
    display: inline-block;
      padding-bottom: 10px;
    text-align: center;
}

.box2{
    width:90%;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 50px 1px #d7d8da;
    overflow: auto;
    margin: 20px auto;
     padding: 15px;
}
 
.select-faktor{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10px;
}
.select-faktor span{
    line-height: 3.5;
    
}
.saabt{
    width: 100%;
    height: 50px;
    float: right;
   margin:  auto;
    display: block;
    border-radius: 40px;
    background-color: #d3f0eb;
    color: #8ebeb2;
    height: 50px;
    text-align: center;
   padding: 20px;
    margin-top: 20px;
    line-height: 1;
}

.input-cost{
    direction: rtl;
    float: right;
}
.btn-cost{
    float: right;
     margin-top: 10px;
    display: inline-block;
    border-radius: 40px;
    background-color: #7e60d0;
    color: white;
    width: 100%;
    height: 50px;
/*    margin: 30px 0;*/
}
test3aa{
    padding: 10px;
}
.text3aa input {
    width: 100%;
    margin-top: 20px;
    height: 50px;
    background-color: #ebf4fb;
    float: right;
    border: none;
    border-radius: 20px;
    text-align: right;
    direction: rtl;
    color: black;
    outline: none;
    padding: 10px;
    
}
.test3ab input{
      width: 100%;
    margin: 10px 10px 0 10px;
    height: 50px;
    background-color: #ebf4fb;
    border: none;
    border-radius: 20px;
    text-align: right;
    direction: rtl;
    color: black;
    outline: none;
    padding: 10px;
}
.text3ba input{
      width: 100%;
    margin: 10px 0px 0 10px;
    height: 50px;
    background-color: #ebf4fb;
    float: right;
    border: none;
    border-radius: 20px;
    text-align: right;
    direction: rtl;
    color: black;
    outline: none;
    padding: 10px;
/*    margin: 30px 0;*/
}
.box3b select{
    float: left;
    text-align: center;
    direction: rtl;
    background-color: #ebf4fb;
    height: 50px;
    width: 81px;
    border-radius: 15px;
    padding:0 10px;
    outline: none;
    font-weight: bold;
    border: none;
}
.box3c{
        text-align: right;
    border:none;
    width: 100%;
    height: auto;
    overflow: auto;
    box-shadow: 5px 5px 20px #b2b5ba;
    border-radius: 20px;
    direction: rtl;
}

.box3c td{
    text-align: center;
     padding: 10px;  
    border-left: 2px solid #e6e9f2;

}
.td span{
    border-bottom:3px solid #e6e9f2; 
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
}
.td9,.td9-admin {
    border-left: none !important;
}
.td7{
    color: #7f62d0;
    font-weight: bold;
}
.td8 ,.td9{
    color:#dde1ed;
}
@media (min-width: 768px){  
    .table1 td{
        text-align: center;
    }
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 85px !important;
    margin-left: 85px !important;
    }
}

.data-box-2 {
    float: right;
    margin: 55px 17px 0 0px;
    display: inline-block;
    border-radius: 40px;
    background-color: #f1e3c8;
    color: #bba775;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 5;
    }
.reports {
    width: 97%;
    height: auto;
    min-height: 120px;
    overflow: auto;
    background-color: #f5f8fd;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    text-align: right;
}
.reports span {
    color: #957ddb;
    float: right;
    font-weight: bold;
    padding-bottom: 10px;
    display: block;
    }
.reports p {
    direction: rtl;
    float: right;
    text-align: justify;
    }


.total-time{
    background-color: #d3f0eb;
    width: 350px;
    height: 60px;
    border-radius: 30px;
    margin: 20px auto;
    padding:20px;

    }
.total-time-title{
    font-family: IRANSans;
    direction: rtl;
    font-weight: bold;
    color: #8bbdb1;
    float: right;
    margin-right: 20px;
    }
.total-time-time{
    font-family: IRANSans;
    direction: rtl;
    font-weight: bold;
    float: left;
    margin-left: 20px;
    }
.nav-report>li>a{
    color: white;
    background-color: #f99f3e !important;
    border-radius: 30px !important;
    direction: rtl;
    }
.navbar-default .navbar-nav>li>a{
         border-radius: 30px !important;
    }
.nav-cost{
        
    }
.box3a{
    width: 100%;
    height: 75px;
    text-align: center;
    margin: 10px auto;
    }
.total-unp{
    background-color: #f1e3c8;
    width: 100%;
    height: 70px;
    text-align: center;
    border-radius: 20px;
    line-height: 2;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    }
.total-pa{
        background-color: #d3f0eb;
        width: 100%;
         height: 70px;
        border-radius: 20px;
    text-align: center;
    line-height: 2;
    padding: 10px;
    font-weight: bold;
      margin-bottom: 20px;
}
.total-ref{
        background-color: #fbd9da;
        width: 100%;
         height: 70px;
        border-radius: 20px;
       text-align: center;
    line-height: 2;
    padding: 10px;
    font-weight: bold;
      margin-bottom: 20px;
}
.total-ref-text{
    color: #eb5793;
}
.total-pa-text{
    color: #8fbdb2;
}
.total-unp-text{
    color: #bba679;
}
.total-cost{
    font-weight: bold;
}

.work-rep {
    width: 90%;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 2px 50px 1px #d7d8da;
    overflow: auto;
    margin: 40px auto;
/*    padding: 15px;*/
}
.work-rep-top {
    width: 100%;
    height: 150px;
}


.work-rep-top-right-title {
    width: 100% ;
    height: 50px;
    background-color: #ebdae2;
    display: block;
    border-radius: 25px;
    margin-top: 20px;
    line-height: 3.5;
    text-align: center;
   
}
.work-rep-top-right-title span{
     color: #c89db0;
    margin: auto;
    direction: rtl;
    text-align: center;
    
}
.work-rep-top-right-button {
    width: 100%;
    height: 50px;
    background-color: #7e60d0;
    display: block;
    border: none;
    margin: auto;
    margin-top: 20px;
    border-radius: 40px;
    color: white;
    line-height: 3;

}

.work-rep-top-left > textarea {
    width: 99%;
    height: 130px;
    display: inline-block;
    border: none;
    direction: rtl;
    padding: 20px;
    resize: none;
    background-color: #ebf4fb;  
    outline: none;
    color: black;
    text-align: right;
    border-radius: 20px;
    float: right;
    overflow: auto;
    margin-top: 22px;
}

.text::-webkit-placeholder{
    color: black !important;
}
.work-rep-bot {
    width: 100%;
    height: auto;
    border-radius: 25px;
}
.work-rep-bot-content {
    width: 100%;
    height: 100%;
    background-color: #f5f8fd;
    border-radius: 25px;
    margin-top: 20px;
    overflow: auto;
}
.work-rep-bot-content p {
    direction: rtl;
    float: right;
    text-align: justify;
    padding:20px;
    overflow: auto;
    
    }
.work-rep-bot-content span {
    color: #957ddb;
    float: right;
    font-weight: bold;
    display: block;
    padding:20px 20px 0 0;
    }
.dropdown-toggle-table-page{
    color: white !important;
    background-color: #eb5793 !important;
}
.date-time-edit{
    direction: rtl;
    width: 95%;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.date-time-edit span{
    color:#7d61cf;
}
.box-of-select{
    background-color: #ebf4fb;
    width: 75%;
    height: 50px;
    border-radius: 15px;
    border: none;
    outline: none;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 10px;
}
.edit-button{
    width: 100px;
    height: 50px;
    color: white;
    background-color: #7d61cf;
    border-radius: 20px;
    border: none;
    text-align: center;
    outline: none;
    margin-left: 10px;

    
}

.drop-down-report{
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background-color:#dde1ec;

}
.time-box-select{
    background-color: #ebf4fb;
    width: 72%;
    height: 50px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    float: left;
    text-align: center;
    line-height: 2;
}

.time-box span{
    line-height: 3.5;
}
.datepicker-demo{
      background-color: #ebf4fb;
    width: 62%;
    height: 50px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    text-align: center;
    line-height: 2;
    outline: none;
    margin-bottom: 10px;
}
.data-box span{
    line-height: 3.5;
    float: right;
/*    margin-right: 10px;*/
}
.inline-example1,.inline-example2,.inline-example{
    z-index: 10000;
    position: absolute;
}
/*-------------------------------------------admin page-----------------*/
.box-of-admin-page{
    box-shadow: none !important;

    
}

.box3d table{
    text-align: right;
    border:none;
    width: 100%;
    height: auto;
    overflow: auto;
    direction: rtl;
    padding: 10px;
    margin-top: 60px;
    
}
.box3d td{
    text-align: center;
     padding: 10px;  
    border-left: 2px solid #e6e9f2;
}
.dropdown-toggle-admin-page{
    background-color: #7e60d0 !important;
}
.button-ignore{
    color:white;
    width: 50%;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    line-height: 3;
    border:none;
    outline: none;
    background-color: #f99f3e;
    float: right;
    margin-top: 10px;
}
.button-accept{
    color:white;
    width: 50%;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    line-height: 3;
    border:none;
    outline: none;
    background-color: #7e60d0;
    margin-top: 10px;
}
.admin-total-unp{
    width: 100%;
    height: 70px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    margin: 20px auto;
    color: #bba679;
    font-size: 13px;

    }
.admin-total-unp-text{
    height: 70px;
    background-color: #f1e3c8;
    float: right;
     border-radius:0 25px 25px 0;
    margin: 0 auto;
     padding: 25px;
}
.admin-total-cost{
    direction: rtl;
     padding: 25px;
    height: 70px;
    background-color: #f8f4e9;
    float: left;
     border-radius: 25px 0 0 25px;
    margin-bottom: 20px;
    
}
.top-user-name-box{
    width: 80%;
    height: 60px;
    background-color: white;
    box-shadow: 5px 5px 20px #e6e6e6;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 26px;
    text-align: center;
    
}
..top-user-name-box span{
    text-align: center;
    padding: 20px;
}
.button-acc-pay{
    color:white;
    width: 50%;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    border:none;
    outline: none;
    background-color: #27cbd5;
    margin-top: 10px;
}
.button-re-try{
     color:#7d61d2;
    width: 50%;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    outline: none;
    float: right;
    margin-top: 10px;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #dddfec;
}
.admin-total-pay-text{
        height: 70px;
    background-color: #d3f0eb;
    float: right;
     border-radius:0 25px 25px 0;
    margin: 0 auto;
     padding: 25px;
    color: #90beb3;
}
.admin-total-pay-cost{
    direction: rtl;
    padding: 25px;
    height: 70px;
    background-color: #edf9f7;
    float: left;
    border-radius: 25px 0 0 25px;
    margin-bottom: 20px;
    color: #90beb3;
}
/*------------------------adimin-total-time--------------------------*/
.out-side-box{
    
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 20px;
    background-color: #eef1f8;
    border-radius: 15px;
    margin: 20px auto;
}

.date-time-edit-admin {

    width: 95%;
    height: auto;
    margin-bottom: 20px;
    text-align: center;

}
.admin-total-time-left-box{
    width: 100%;
    height: 370px;
    background-color: transparent;
    border:2px solid #f1e3c8;
    border-radius: 20px;
    float: left;
    padding: 20px;
    margin-bottom: 20px;
}
.admin-total-time-right-box{
     width: 100%;
    height: 370px;
    background-color: transparent;
    border:2px solid #b5e0d5;
    border-radius: 20px;
    float: right;
    margin-bottom: 20px;
}
.admin-total-time-boxes{
    text-align: center;
    margin: 30px auto;
    padding: 10px;
}
.time-title{
    text-align: center;
    display: block;
    color: #bba47a;
    font-size: 18px;
    padding: 20px 0;
    font-weight: bold;
}
.time-total{
  text-align: center;
    display: block;
    font-size: 32px;
    padding: 40px 0 20px 0;
    direction: rtl;
    font-weight: bold;
}
.time-total-in-month-title{
      text-align: center;
    display: block;
    font-size: 14px;
    padding: 10px 0;
    direction: rtl;
    font-weight: bold;
}
.total-time-acct-button{
    width: 90px;
    height: 35px;
    border: none;
    color: #d0c1a0;
    background-color: #f1e3c8;
    outline: none;
    border-radius: 25px;
    margin: 10px 0;
   
}
.admin-total-table{
    float: right;
    direction: rtl;
    border: none;
    font-size: 14px;
}
.th-table{
    text-align: center;
    display: block;
    color: #8dbdb1;
    padding: 40px 0;
    font-weight: bold;
    font-size: 18px;
}
.borderless td, .borderless th,.table>tbody>tr>td {
    border: none;
}
.total-time-table-button{
    background-color: #d3f0eb;
    color: #94bfb5;
     width: 90px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 25px;
}
.admin-total-table-cost{
    color: #7e61cf;
    font-weight: bold;
}
.do-not-check{
    color: #cdbd99;
    font-weight: bold;
}
.do-check{
    color: #8fbdb2;
    font-weight: bold;
}
.do-not-accept{
    color: #f6a5ad;
    font-weight: bold;
}
.count-bold{
    font-weight: bold;
}
.top-user-name-box-admin{
    width: 80%;
    height: 60px;
    background-color: #7e61cf;
    box-shadow: 5px 5px 20px #e6e6e6;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 26px;
    color: white;
}
.admin-name-select{
    border: none;
    background-color: #7e61cf;
    color: white;
    height: 55px;
    direction: rtl;
}
.img-user img{
    widows: 45px;
    height: 45px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px #dee0ed;
    display: inline-block;
    margin: 5px auto;
}
/*------------------------------admin-page---------------------------------*/
.box3c-admin{
    background-color: white;
}
.singlebox-admin{
    background-color: #eef1f8;
}
.search-box{
    width: 100%;
    height: 60px;
    background-color: white;
    border-radius: 15px;
    margin: 20px auto;
}
.search-box img{
    width: 45px;
    height: 45px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.table1 img{
      width: 30px;
    height: 30px;
    border-radius: 50px;
}
.td9-admin{
    color: black;
    font-weight: bold;
}